In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv("fossil-fuel-primary-energy.csv")
data.head()

   Entity Code  Year  Fossil Fuels (TWh)
0  Africa  NaN  1965          658.940796
1  Africa  NaN  1966          690.502006
2  Africa  NaN  1967          694.670848
3  Africa  NaN  1968          727.596509
4  Africa  NaN  1969          737.671476

In [4]:
data_australia = data[data['Entity']=='Australia']

In [5]:
data_australia.head()

        Entity Code  Year  Fossil Fuels (TWh)
165  Australia  AUS  1965          383.175043
166  Australia  AUS  1966          423.476080
167  Australia  AUS  1967          449.677426
168  Australia  AUS  1968          477.284389
169  Australia  AUS  1969          495.852798

In [6]:
data_australia=data_australia[data_australia['Year']>=1970]

In [7]:
data_australia = data_australia[['Year','Fossil Fuels (TWh)']]

In [10]:
data_australia.to_csv("../../../Manudeep/Regression/australia_fossil.csv")