In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("annual-co-emissions-by-region.csv")

In [3]:
data.head()

        Entity Code  Year  Annual CO2 emissions
0  Afghanistan  AFG  1949              0.014656
1  Afghanistan  AFG  1950              0.084272
2  Afghanistan  AFG  1951              0.091600
3  Afghanistan  AFG  1952              0.091600
4  Afghanistan  AFG  1953              0.106256

In [9]:
data_australia = data[data['Entity']=='Australia']

In [10]:
data_australia.head()

         Entity Code  Year  Annual CO2 emissions
1531  Australia  AUS  1851             -0.062288
1532  Australia  AUS  1852             -0.054960
1533  Australia  AUS  1853             -0.109920
1534  Australia  AUS  1854             -0.128240
1535  Australia  AUS  1855             -0.131904

In [13]:
data_australia=data_australia[data_australia['Year']>=1970]

In [15]:
data_australia = data_australia[['Year','Annual CO2 emissions']]

In [20]:
data_australia.to_csv("../../../Manudeep/Regression/australia_co2.csv")