In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df_co2 = pd.read_csv("../data/co2-emissions/annual-co-emissions-per-country.csv")

In [10]:
df_co2_usa= df_co2[df_co2['Entity']=='United States']

In [13]:
df_co2_usa =df_co2_usa[df_co2_usa['Year']>=1970]

In [35]:
df_co2_usa = df_co2_usa.drop(columns = ['Entity','Code'])
df_co2_usa.head()

,Year,Annual CO₂ emissions (Global Carbon Project (2017)) (million tonnes)
53328,1970,4325.36
53329,1971,4353.21
53330,1972,4561.22
53331,1973,4766.29
53332,1974,4594.73

In [32]:
df_co2_usa.shape

(47, 2)

In [19]:
df_fossil = pd.read_csv("../data/Fossil_Fuels/fossil-fuel-primary-energy.csv")
#df_fossil.head()

In [21]:
df_fossil_usa= df_fossil[df_fossil['Entity']=='United States']

In [22]:
df_fossil_usa =df_fossil_usa[df_fossil_usa['Year']>=1970]

In [23]:
df_fossil_usa = df_fossil_usa.drop(columns = ['Entity','Code'])
df_fossil_usa.head()

      Year  Fossil Fuels (TWh)
4034  1970         17580.20975
4035  1971         17861.80846
4036  1972         18755.86505
4037  1973         19478.93788
4038  1974         18790.10187

In [27]:
df_fossil_usa.shape

(50, 2)

In [42]:
#merge co2 and fossilfuels dataframes for usa
df_usa = df_fossil_usa.merge(df_co2_usa,how='outer')
print(df_usa.shape)
df_usa.head()

(50, 3)

,Year,Fossil Fuels (TWh),Annual CO₂ emissions (Global Carbon Project (2017)) (million tonnes)
0,1970,17580.20975,4325.36
1,1971,17861.80846,4353.21
2,1972,18755.86505,4561.22
3,1973,19478.93788,4766.29
4,1974,18790.10187,4594.73

In [30]:
df_usa_precipitation = pd.read_csv("../data/Merged_Folder/Rainfall_Usa_1970.csv",usecols=['Precipitation','Year'])
df_usa_precipitation.head()

   Year  Precipitation
0  1970       0.109288
1  1971       0.126110
2  1972       0.142842
3  1973       0.115644
4  1974       0.098685

In [31]:
df_usa_precipitation.shape

(51, 2)

In [43]:
df_usa_final = df_usa_precipitation.merge(df_usa,how="outer")
df_usa_final.shape

(51, 4)

In [45]:
df_usa_final.tail()

,Year,Precipitation,Fossil Fuels (TWh),Annual CO₂ emissions (Global Carbon Project (2017)) (million tonnes)
46,2016,0.085820,21428.94964,5311.69
47,2017,0.096274,21331.72338,NaN
48,2018,0.182521,22196.47331,NaN
49,2019,0.115151,21891.10198,NaN
50,2020,0.147059,NaN,NaN